/* Common-LAYOUT*/
@require("./theme")

body {
    font-family: 'Lato', sans-serif;
}

button {
  display: flex;
  overflow: hidden;

  padding: .3rem;

  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: primaryColor;
  background-color: accentColor;
  border: 0 none;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  justify-content: center;
  align-items: center;

  &:hover {
    transition: all 60ms ease;

    opacity: .85;
  }

  &:active {
    transition: all 60ms ease;
    transform: scale(.97);

    opacity: .75;
  }
}

input[type="text"] {
    margin: 0;
    width: 100%;
    appearance: none;
    border: none;
    padding: .2rem;
    background-color: #f4f4f4;
}
input[type="text"]:focus {
    outline: none;
}
